<!doctype html>

<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div id="content">
        % for a, b in links:
            <a href="{{a}}">{{b}}</a>
        % end
        </div>
        <hr />
        <div>
        % if prv != -1:
            % if prv == 0:
                <a id="prev_page" href="/">prev</a>
            % else:
                <a id="prev_page" href="/{{prv}}">prev</a>
            % end
        % end

        % if nxt != -1:
            <a id="next_page" href="/{{nxt}}">next</a>
        % end
        </div>
    </body>
</html>

